<!-- views/home.ejs -->
<%- include("partials/header") %>
<%- include("partials/navbar") %>


<section class="home-section">
  <div class="container">
    <img src="/images/deeps.jpg" alt="Profile" class="profile-img" />
    <h1>Hello, I’m <span class="highlight">Dipali Patil</span></h1>
    <p class="tagline">Full Stack Developer | Java | ML | AI | Salesforce</p>
    
    <div class="buttons">
      <a href="/resume.pdf" download class="btn primary">Download Resume</a> <br><br>
      <a href="projects" class="btn secondary">View Projects</a>
    </div>

    <div class="social-icons">
      <a href="https://github.com/Dipali-32" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/dipali-p-534981230/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>
